/* Déclaration des couleurs */

:root {
    --black: #292929;
    --grey-text: #A6A6A6;
    --clear-grey: #F5F3EF;
    --green: #00AC66;
    --white: #FFFFFF;
    --beige: #FAF9F7;
    --brown : #C56D6D;
  }

/* Body */

body {
  margin: 0;
  color: var(--noir);
  background-color: var(--clear-grey);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
}

header a {
  font-size: 0.88em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--black);
  padding: 0 22px;
}

.focus  {
  font-weight: 600;
}

a:hover {
  font-weight: 600;
}

header img {
  width: 155px;
  height : 51px;
  padding: 15px 28px 15px 0;
}

.mainNav {
  display: flex; 
  align-items: center;
}

.mainNav nav {
  display: flex;
  padding: 0 28px;
}

.secondaryNav {
  display: flex;
  align-items: center;
}

.secondaryNav a {
  display: flex;
  justify-content: space-between;
}

.secondaryNav svg {
  padding: 3px 5px 0 0;
}

.secondaryNav span {
  margin: 2px 3px;
  padding: 2px 3px 0 3px;
  border-radius: 7px;
  background-color: var(--black);
  color: var(--clear-grey);
  font-size: 0.5em;
  font-weight: 700;
}

/* Footer */

footer {
  background-color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
  font-size: 0.75em;
}

footer img {
  width : 22px;
  height: 17px;
  padding: 20px;
}

footer p {
  padding: 20px;
}

/* Titles */

h2 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: 400;
}

/* Books presentation */

.show-books {
  display: flex;
  justify-content: center;
}

.show-books a {
  color: var(--black);
  text-decoration: none;
}

.book-card {
  margin: 0 20px;
  background-color: var(--white);
  border-radius: 0 0 5px 5px;
}

.book-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
}

.text-card {
  width: 172px;
  height: 84px;
  padding: 20px 14px;
}

.text-card h4 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.text-card h5 {
  font-size: 0.87em;
  font-weight: 400;
  color: var(--grey-text);
  margin: 8px 0 22px 0;
}

.text-card p {
  font-size: 0.62em;
  font-style: italic;
  color: var(--grey-text);
  margin:0;
}

.no-dispo {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}

.no-dispo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
}

.text-overlay {
  position: absolute;
  top : 12px;
  right: 16px;
  background-color: var(--brown);
  border-radius: 30px;
  color: var(--white);
  font-size: 0.55em;
  font-weight: 500;
}

.text-overlay p {
  margin: 0;
  padding: 4px 13px;
}

.dispo p {
  display: none;
}

/* Home */

.presentation {
  display: flex;
  align-items: center;
  padding: 80px 300px;
}

.presentation h2 {
  margin: 0 0 16px 0;
}

.presentation p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 40px;
}

.link-button {
  font-size: 1em;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  background-color: var(--green);
  padding: 22px 38px;
  border-radius: 10px;
}

.presentation figure {
  text-align: right;
}

.presentation img {
  width: 404px;
  height: 539px;
}

.presentation figcaption {
  font-size: 0.75em;
  font-style: italic;
  color: var(--grey-text);
  padding: 8px 2px 0 0;
}

.last-books {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-books h3 {
  padding: 80px 0;
  margin: 0px;
}

.last-books .link-button {
  margin : 48px 0 64px 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description h3 {
  margin: 80px 0 24px 0;
}

.description h4 {
  width: 400px;
  font-size: 1em;
  font-weight: 300;
}

.description div {
  display: flex;
  align-items: center;
}

.description p {
  display: flex;
  align-items: center;
  width: 197px;
  height: 139px;
  background-color: var(--white);
  border-radius: 10px;
  font-size: 0.87em;
  padding: 0 18px;
  margin : 40px 18px 48px 18px;
}

.description a {
  font-size: 1em;
  font-weight: 600;
  color: var(--green);
  text-decoration: none;
  padding: 22px 38px;
  margin-bottom: 80px;
  border: 1px solid var(--green);
  border-radius: 10px;
}

.values {
  width: 462px;
  padding: 80px 20px 89px 542px;
}

.values p {
  font-size: 1em;
  font-weight: 300;
  padding: 0 70px 8px 0;
}

.signature {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}

.signature address {
  color: var(--grey-text);
  font-size: 0.75em;
  font-style: italic;
  padding-top: 14px;
}

/* Book page */

.book-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 263px 72px 263px;
  background-color: var(--beige);
}

.searchfield {
  width: 277px;
  height: 45px;
  border: 1px solid var(--clear-grey);
  border-radius: 6px;
  background: url(../img/glass.png) no-repeat scroll 16px 15px;
  background-color: var(--blanc);
  padding-left:45px;
  color: var(--grey-text);
  font-size: 0.875em;
}

.show-books {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 246px;
  background-color: var(--beige);
}

.show-books .book-card {
  margin: 0 17px 48px 17px;
}

/* Book detail */

.breadcrumb {
  margin: 16px 0 16px 150px;
  color: var(--grey-text);
  font-size: 0.62em;
  font-weight: 300;
}

.book-detail {
  display: flex;
  height: 800px;
}

.book-detail img {
  width: 50%;
  max-height: 100%;
  object-fit: contain;
  justify-content: center;
  background-color: var(--beige);
}

.infos {
  width: 50%;
  max-height: 100%;
  background-color: var(--beige);
  margin: 0;
}

.infos h2 {
  margin: 0;
  padding: 59px 0 0 85px;
}

.infos h4 {
  margin: 0;
  padding : 16px 0 32px 85px;
  color: var(--grey-text);
  font-size: 1em;
  font-weight: 400;
}

#line {
  margin: 0 0 0 85px;
  padding: 0;
  width: 27px;
  height: 0;
  border-top: 1px solid var(--grey-text);
}

.infos h5 {
  margin: 0;
  padding: 32px 0 16px 85px;
  font-size: 0.5 em;
  font-weight: 600;
}

.description {
  margin: 0;
  padding: 0 150px 16px 85px;
  text-align: justify;
  text-overflow: ellipsis;
}

.owner {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 85px;
  padding-right: 16px;
  background-color: var(--white);
  border-radius: 114px;
  font-size: 0.87em;
}

.owner img {
  padding: 6px 12px 6px 6px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.infos a {
  position: relative;
  top: 80px;
  margin: 0 150px 80px 85px;
  font-size: 1em;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  background-color: var(--green);
  padding: 22px 38px;
  border-radius: 10px;
}